body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #94937A;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #94937a; /* ヘッダーの背景色 */
    color: #f1f1f1;
}

.logo img {
    height: 50px; /* ロゴの高さ */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2E492F;
    color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}



.container {
    display: flex;
}

.sidebar {
    width: 25%;
}

.accordion {
    width: 70%;
    margin-left: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    font-size: 30px;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.accordion-content{
    display: none;
}

.accordion-content button {
    width: 70%;
    margin-left: 20px;
    padding-left: 30px;
    background-color: #f1f1f1;
    font-size: 30px;
    border: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.accordion-content button:hover {
    background-color: #ddd;
}

.apper{
    width: 75%; /* .apper の幅を75%に設定 */
}

.title{
    font-size: 40px;
    font-weight: bold;
}


/* フォーム要素のスタイル */
form {
    margin-bottom: 20px;
}

/* ラベルのスタイル */
label {
    display: inline-block;
    font-size: 30px;
    width: 250px;
    margin-right: 10px;
}

/* 入力フィールドのスタイル */
input{
    margin-bottom: 10px;
    font-size: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    margin-left: 570px;
}


/* 読み込みボタンのスタイル */
#loadBtn {
    display: inline-block;
    font-size: 30px;
    margin-left: 40px; /* ラベル幅と調整 */
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#loadBtn:hover {
    background-color: #0056b3;
}

